.card {
	background-color: azure;
	padding: 30px;
	width: 30%;
	height: fit-content;

	max-width: 400;
	min-width: 250px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	border-radius: 20px;
}

.card img {
	width: 90%;
	display: block;
	margin: auto;
}
